{% extends 'base.html' %}

{% block content %}

<h1>About Me</h1>
<p>My name is Michael Hernandez, and I’m 23 years old. I enjoy running, playing video games, and golfing with my friends. My favorite movie is Interstellar, and I’m currently watching Succession on HBO, a drama about a family battling for control of a company. Fun fact: last summer, I ran with the bulls in Spain, and while I was there, I also visited my favorite soccer team’s stadium in Barcelona, which was a dream come true for me.</p>
<p>In high school, I worked at Autobell Car Wash, where I gained early work experience. Now, I work at Little Tokyo in Milledgeville. I’m also a graduate assistant for Dr. Godin and Dr. Rickard at Georgia College, helping with various tasks like research and classroom support. It’s been a great opportunity to stay involved with the school and expand my knowledge.</p>
<p>During my undergrad, I majored in marketing at Georgia College and was a member of the Pi Kappa Phi fraternity. Being a part of this fraternity and my academic program shaped my college experience, allowing me to build connections and gain valuable experiences throughout my time here. I’m looking forward to what’s next as I continue to work hard and grow.</p>

{% endblock %}